<div class="w-full mx-auto">
  <mat-card class="p-0">
    <mat-card-header>
      <mat-card-title>{{ "create-activity.title" | translate }}</mat-card-title>
      <mat-card-subtitle>{{
        "create-activity.subtitle" | translate
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col md:flex-row md:space-x-4">
            <mat-form-field class="flex-1">
              <mat-label>{{
                "create-activity.activity-name" | translate
              }}</mat-label>
              <input matInput formControlName="activityName" />
            </mat-form-field>

            <mat-form-field class="flex-1">
              <mat-label>{{
                "create-activity.activity-difficulty" | translate
              }}</mat-label>
              <mat-select formControlName="activityDifficulty">
                <mat-option value="easy">{{
                  "create-activity.easy" | translate
                }}</mat-option>
                <mat-option value="intermediate">{{
                  "create-activity.intermediate" | translate
                }}</mat-option>
                <mat-option value="advanced">{{
                  "create-activity.advanced" | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>{{
              "create-activity.activity-description" | translate
            }}</mat-label>
            <textarea matInput formControlName="activityDescription"></textarea>
          </mat-form-field>

          <div formArrayName="activityTasks">
            <div
              *ngFor="let task of activityTasks.controls; let i = index"
              [formGroupName]="i"
              class="flex flex-col space-y-4 border p-4 rounded-lg"
            >
              <div class="flex flex-col md:flex-row md:space-x-4">
                <mat-form-field class="flex-1/2">
                  <mat-label>{{
                    "create-activity.task-name" | translate
                  }}</mat-label>
                  <input matInput formControlName="taskName" />
                </mat-form-field>

                <mat-form-field class="flex-1/2">
                  <mat-label>{{
                    "create-activity.task-frequency" | translate
                  }}</mat-label>
                  <mat-select formControlName="taskFrequency">
                    <mat-option
                      *ngFor="let frequency of taskFrequencies"
                      [value]="frequency"
                      >{{ frequency | translate }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-form-field>
                <mat-label>{{
                  "create-activity.task-description" | translate
                }}</mat-label>
                <textarea matInput formControlName="taskDescription"></textarea>
              </mat-form-field>
              <button
                mat-button
                type="button"
                class="self-end"
                (click)="removeTask(i)"
              >
                {{ "create-activity.remove-task" | translate }}
              </button>
            </div>
          </div>

          <button mat-button type="button" (click)="addTask()">
            {{ "create-activity.add-task" | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="flex flex-col gap-4">
      <button mat-raised-button color="primary" type="submit">
        {{ "create-activity.create-activity" | translate }}
      </button>
      <button mat-button type="button" color="warn" (click)="resetForm()">
        {{ "create-activity.reset" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
