<div class="flex flex-col gap-4" *ngIf="activity">
  <mat-card appearance="outlined">
    <div class="flex flex-col gap-2">
      <h3 style="margin: 0">{{ activity.activityName }}</h3>
      <p style="margin: 0">{{ activity.activityDescription }}</p>

      <div class="flex flex-row gap-2">
        <mat-card
          appearance="outlined"
          class="flex flex-col content-center flex-1"
        >
          <p>عدد المشتركين</p>
          <p>{{ activity.activitySubscribersCount }}</p>
        </mat-card>

        <mat-card
          appearance="outlined"
          class="flex flex-col content-center flex-1"
        >
          <p>عدد المهام</p>
          <p>{{ activity.activityTasks.length }}</p>
        </mat-card>

        <mat-card
          appearance="outlined"
          class="flex flex-col content-center flex-1"
        >
          <p>مستوى الصعوبة</p>
          <p>{{ activity.activityDifficulty }}</p>
        </mat-card>

        <mat-card
          appearance="outlined"
          class="flex flex-col content-center flex-1"
        >
          <p>تاريخ الإضافة</p>
          <p>{{ activity.createdAt | date }}</p>
        </mat-card>
      </div>
      <mat-divider></mat-divider>
    </div>
    <mat-card-actions>
      <div class="flex flex-row gap-2">
        <button mat-flat-button color="primary">تعديل التمرين</button>
        <button mat-flat-button color="accent">تعديل مهام التمرين</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-title>جلسات الاشتراك</mat-card-title>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="activitySubscriptionSessions"
        class="mat-elevation-z8"
      >
        <!-- Session ID Column -->
        <ng-container matColumnDef="sessionId">
          <th mat-header-cell *matHeaderCellDef>معرف الجلسة</th>
          <td mat-cell *matCellDef="let session">
            {{ session.activitySubscriptionSessionId }}
          </td>
        </ng-container>

        <!-- Session Date Column -->
        <ng-container matColumnDef="userUid">
          <th mat-header-cell *matHeaderCellDef>معرف المستخدم</th>
          <td mat-cell *matCellDef="let session">
            {{ session.userUid }}
          </td>
        </ng-container>

        <!-- Session Date Column -->
        <ng-container matColumnDef="sessionDate">
          <th mat-header-cell *matHeaderCellDef>تاريخ الجلسة</th>
          <td mat-cell *matCellDef="let session">
            {{ session.subscribeDate | date }}
          </td>
        </ng-container>

        <!-- Session Duration Column -->
        <ng-container matColumnDef="sessionDuration">
          <th mat-header-cell *matHeaderCellDef>نشط؟</th>
          <td mat-cell *matCellDef="let session">
            {{ session.isActive ? "نعم" : "لا" }}
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
