<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>method</key>
    <string>app-store</string> <!-- Use 'app-store' for App Store distribution -->
    <key>provisioningProfiles</key>
    <dict>
      <key>com.amjadkhalfan.RebootApp</key>
      <string>taaafi-prov-profile</string> <!-- Replace with your provisioning profile name -->
    </dict>
    <key>teamID</key>
    <string>JA8SVE4GX4</string> <!-- Replace with your actual Team ID -->
  </dict>
</plist>
