<mat-sidenav-container fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    closed
    [position]="currentLanguage === 'en' ? 'start' : 'end'"
  >
    <h2>Taa'afi Control Panel</h2>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      My Application
      <span class="toolbar-spacer"></span>

      <div>
        <button mat-raised-button color="accent" (click)="loginOrLogout()">
          {{ isLoggedIn ? "Log Out" : "Log In" }}
        </button>

        <button mat-button (click)="toggleLanguage()">
          {{ currentLanguage === "en" ? "العربية" : "English" }}
        </button>
      </div>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
