<div class="h-screen">
  <mat-toolbar color="primary" class="flex justify-between items-center">
    <button hlmBtn variant="ghost" routerLink="/dashboard" >
      {{ "app-name" | translate }}
    </button>

    <!-- Spacer to push navigation to the right -->
    <div class="flex-grow"></div>

    <!-- Buttons visible on larger screens (gt-md) -->
    <div class="flex gap-4 items-center">
      <div class="hidden gt-md:flex gap-4 items-center content-center" >
        <button hlmBtn variant="ghost" routerLink="/library" *ngIf="isLoggedIn">
          {{ "library" | translate }}
        </button>

        <button hlmBtn variant="ghost" routerLink="/vault" *ngIf="isLoggedIn">
          {{ "vault" | translate }}
        </button>

        <button hlmBtn variant="ghost" routerLink="/fellowships" *ngIf="isLoggedIn">
          {{ "fellowships" | translate }}
        </button>

        <button hlmBtn variant="ghost" routerLink="/users-management" *ngIf="isLoggedIn">
          {{ "users-management" | translate }}
        </button>

        <button hlmBtn size="icon" variant="outline" [matMenuTriggerFor]="menu1">
          <hlm-icon size='sm' name="lucideUsers" />
        </button>


        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="toggleLanguage()">
            {{ (currentLanguage === "en" ? "arabic" : "english") | translate }}
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="loginOrLogout()">
            <span [ngClass]="isLoggedIn ? 'text-red-600' : 'text-green-600'">
              {{ (isLoggedIn ? "log-out" : "log-in") | translate }}
            </span>
          </button>
        </mat-menu>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger-menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/library" *ngIf="isLoggedIn">
        {{ "library" | translate }}
      </button>
      <button mat-menu-item routerLink="/vault" *ngIf="isLoggedIn">
        {{ "vault" | translate }}
      </button>
      <button mat-menu-item routerLink="/fellowships" *ngIf="isLoggedIn">
        {{ "fellowships" | translate }}
      </button>
      <button mat-menu-item routerLink="/users-management" *ngIf="isLoggedIn">
        {{ "users-management" | translate }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="toggleLanguage()">
        {{ (currentLanguage === "en" ? "arabic" : "english") | translate }}
      </button>
      <button mat-menu-item (click)="loginOrLogout()">
        <span [ngClass]="isLoggedIn ? 'text-red-600' : 'text-green-600'">
          {{ (isLoggedIn ? "log-out" : "log-in") | translate }}
        </span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="p-4">
    <router-outlet></router-outlet>
  </div>
</div>
