<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="flex flex-row gap-4">
        <span>{{ "app-name" | translate }}</span>
        <button mat-outlined-button>{{ "dashboard" | translate }}</button>
      </div>
      <span class="toolbar-spacer"></span>
      <div>
        <button mat-button (click)="toggleLanguage()">
          {{ (currentLanguage === "en" ? "arabic" : "english") | translate }}
        </button>
        <button mat-raised-button color="accent" (click)="loginOrLogout()">
          {{ (isLoggedIn ? "log-out" : "log-in") | translate }}
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
